/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

 @layer components {
  .dialog {
    @apply relative z-50;
  }
  .dialog-panel {
    @apply w-full max-w-sm rounded bg-white shadow-lg
  }
  .dialog-title {
    @apply bg-indigo-600 rounded-t p-4 text-white font-display text-lg
  }
  .dialog-description {
    @apply font-body p-4
  }
  .dialog-content {
    @apply pb-4 px-4
  }
}

text-purple {
  color: #4338ca;
}

/**
tr:hover + tr {
  border-top-color: transparent;
}
**/
